.image-decor-kisspng {
  width: 500px !important;
  top: 75% !important;
  left: 70% !important;
}
.swiper-slide-active .image-decor-kisspng {
  animation: animationsTree2 linear 1.2s;
}

.swiper-slide-active .atropos-banner img:nth-child(5) {
  animation: animationsTree2 linear 1.2s;
}

.portfolio__content {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
}
.portfolio__item {
  max-width: 200px;
  width: 100%;
  height: 200px;
  background: #e48149;
  border-radius: 20px;
  margin: 10px;
}
.swiper-slide-active .portfolio__item {
  animation: animationsPortfolio linear 1.2s;
}

@keyframes animationsPortfolio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
